{% extends "default.twig" %}
{% block body %}

<article>
    <div class="post-stamp">
        {{post.date | date("F j, Y") }}

        {% if post.category is not empty %}
        发布于
            {% for category in post.category %}
            <a href="{{category.url}}">{{category.name}}</a>
            {% endfor %}
        {% endif %}
    </div>

    <h1 class="post-title">{{post.title}}</h1>
    {{post.content}}

    Tags:
    {% include "partials/taglist.twig" %}

    <!-- include share -->
</article>

<!-- Begin Comments Code -->
<div id="disqus_thread">
    <button type="button" name="yunseame" class="show-commend">显示评论</button>
</div>
<!-- End Comments Code -->

{% endblock %}